header
{
    justify-self: center;
    background-color: rgb(192, 189, 189);
    width: 90%;
    text-align: center;
    margin-left: 2px;
    
}

header:hover
{
    background-color: rgb(161, 161, 161);
    color: white;
    transform: color;
}

body
{
    font-family:'Times New Roman', Times, serif;
    background-color: gainsboro;
    font-size: large;
}

.list
{
    border: 1px dashed;
    justify-content: center;
    padding: 0px 15px 0px;
}

.container
{
    justify-self: center;
    display: flex;
    gap: 5%;
}

a:link
{
    text-decoration: none;
}

footer
{
    justify-self: center;
    background-color: rgb(192, 189, 189);
    width: 90%;
    text-align: center;
    margin-top: 25%;
    transition: background-color color 0.2s ease-in-out;
}

footer:hover
{
    background-color: rgb(161, 161, 161);
    color: white;
}